<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 환불 반품 정책 </title>
</head>
<style>
    #main{
        border: 1px solid gray;
    }
</style>
<body>
<div th:replace="header.html"></div>

<div class="container mt-5" id="main">
<h2>[교환안내]</h2>
    <hr class="featurette-divider">

<p>
- 제품 구입 후 반드시 상품 이상 유무를 확인하여 주십시오. <br>
- 환불은 반품처리 후 발송업체의 제품 수령 확인 뒤에 처리 됩니다. <br>
</p>
    <hr class="featurette-divider">


<h2>[교환 및 반품이 가능한 경우]</h2>
    <hr class="featurette-divider">

<p>
- 반품이나 환불은 상품 자체의 결함으로 인한 반품, 환불만 가능합니다. <br>
상품 하자시 수령후 24시간 이내 이유를 알려주시고 수령을 포함한 3일내 반송해주세요. <br>
미리 전화를 주시거나, 사진등을 찍어서 보내주시면 좋습니다. <br>
- 하자가 있는 상품에 대한 반품 및 환불은 반드시 판매자와 협의된 후 처리합니다. <br>
(수령하신 상품을 보관 하셨다가 상품에 대한 교환 및 반품을 요청하시는 건은 진행되지 않습니다.) <br>
    <strong>  반품 주소는 하단의 <b> <a href="shipping"> CONNECT</a></b> 에 정확하게 나와있습니다. -</strong>
    
</p>
    <hr class="featurette-divider">


<h2> [교환 및 반품이 불가능한 경우]</h2>

    <hr class="featurette-divider">

<p>
- 식품은 특성상 신선도 유지의 문제점이 있으므로 배송이 완료된 후 단순 반품이나 환불은 불가능합니다. <br>
(판매자와의 협의없이 수취거절하여 일방적으로 보내시는 반품은 절대 받지 않습니다.) <br>
- 배송시 받으시는 분이 부재중이거나 전화번호, 주소가 불분명하여 배송이 지연되어 상품이 변질되었거나 <br>
수취인 불명으로 인한 반송은 반품이 불가합니다. <br>
- 단순변심 또는 상품에 문제가 없는 상태에서 개봉을 한 상품은 반품이 불가합니다. <br>
- 잘못된 보관이나 고객님의 부주의로 인한 상품 훼손 및 상품가치 상실 등의 경우에는 반품처리가 제한 될수 있습니다. <br>
</p>

    <hr class="featurette-divider">



<h2> [배송중 취소 관련]</h2>

    <hr class="featurette-divider">

<p>
제품을 수령후 고객센터 및 게시판을 이용해 주시면 됩니다. 이때 발생하는 배송비는 고객님께서 부담하셔야 합니다. <br>
상품 취소는 상품이 발송되기 전에만 가능하며 발송이 완료된 후 취소는 절대 불가능하니 반품을 해주셔야합니다. <br>
</p>

    <hr class="featurette-divider">
    
</div>
<div th:replace="footer.html"></div>
</body>
</html>